asgiref
certifi
charset-normalizer
crispy-bootstrap5
distlib
Django
django-allauth
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
filelock
idna
Markdown
pillow
platformdirs
requests
sqlparse
sslcommerz-lib
typing_extensions
tzdata
urllib3
virtualenv